# Scala CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/sample-config/ for more details
#
version: 2
jobs:
  test:
    docker:
      - image: circleci/openjdk:8-jdk

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - setup_remote_docker
      - checkout

      - restore_cache:
          key: scala-library-dependencies-{{ checksum "build.sbt" }}

      - run: sbt check
      - run: sbt test:compile

      - save_cache:
          paths: [ "~/.m2", "~/.ivy2", "~/.cache/coursier" ]
          key: scala-library-dependencies-{{ checksum "build.sbt" }}

      - run: sbt test

  release:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - setup_remote_docker
      - run: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: git config --global user.email "circleci@schuwalow.com"
      - run: git config --global user.name "cicleci"

      - checkout
      - restore_cache:
          key: scala-library-dependencies-{{ checksum "build.sbt" }}

      - run: sbt "release with-defaults"

workflows:
  version: 2
  build_and_test:
    jobs:
      - test:
          filters:
            branches:
              ignore:
                - master

  release:
    jobs:
      - approve-release:
          type: approval
          filters:
            branches:
              only:
                - develop
      - release:
          context: global
          requires:
            - approve-release
